@use '../abstracts/variables' as *;
#About {
  position: relative;
  scroll-margin-top: 40px;
  & .container {
    position: relative;
    align-items: center;
    z-index: 2;
  }
  .section__body {
    position: relative;
    align-items: center;
    gap: 1.5rem;
    z-index: 2;
  }

  .about__card {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background: $white-color;
    border: 1px solid rgba($secondary-light, .4);
    border-radius: 2rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 0 30px -3px rgba($primary-color, .4);
    transition: .3s all ease;
    &:hover {
      border-color: rgba($primary-color, .35);
      box-shadow: 0 0 45px -3px rgba($primary-color, .75);
      .about__card--title {
        color: $primary-color;
      }
    }
    &--img {
      margin:0 auto;
      margin-bottom: 1rem;
      transition: inherit;
      width:250px;
      img{
        width: 250px;
      }
    }
    &--title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: $primary-dark;
      transition: inherit;
    }
    &--description {
      color: $secondary-dark;
    }
  }
  @media screen and (max-width: 992px) {
    .about__description{
      grid-column:span 1;
    }
    .about__card{
    flex-direction:row;
    align-items: center;
    &--img{
      margin-bottom:0;
      margin-right:1rem;
      width:150px;
      img{
        width:150px;
      }
    }
  }
  }
}
