@use '../abstracts/variables' as *;

#CTA{
    a{
        width:50%;
        height:70px;
        margin:auto;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:2rem;
        border-radius:1.25rem;
    }
}