@use '../abstracts/variables' as *;

#Pricing{
    position: relative;
    scroll-margin-top: 40px;
    // background: rgba($secondary-light, .1);
    & .container {
      position: relative;
      align-items: center;
      z-index: 2;
    }
    .section__body {
      position: relative;
      align-items: center;
      gap: 1.5rem;
      z-index: 2;
    }
    .pricing__card{
        display:flex;
        flex-direction: column;
        padding: 2rem 1.5rem;
        align-self: stretch;
        border-radius:2rem;
        box-shadow: 0 0 30px -3px rgba($primary-color, .4);
        transition: .3s all ease;
        &:hover {
        border-color: rgba($primary-color, .35);
        box-shadow: 0 0 45px -3px rgba($primary-color, .75);
        .services__card--title {
            color: $primary-color;
        }
        }
        // &--head{
        //     border:1px solid $primary-color;
        //     border-radius:1rem;
        //     padding:1rem;
        // }
        &--title{
            text-align: center;
            font-size:2rem;
            font-weight: 600;
            text-transform: uppercase;
            color:$primary-color;
        }
        &--subtitle{
            text-align: center;
            font-size:1.25rem;
            font-weight:500;
            color:$primary-dark;
        }
        hr{
            border:1px solid rgba($primary-dark, 0.171);
        }
        &--cost{
            display:flex;
            align-items: center;
            span{
                margin-right:.4rem;
                font-size:2.5rem;
                color: $primary-color;
                font-weight:600;
            }
        }
        &--benefits{
            margin-bottom: 1.5rem;
            h3{
                font-size:1.2rem;
                font-weight:500;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
        a{
            margin-top:auto;
            border:1px solid $primary-dark;
        }
    }
}