@use '../abstracts/variables' as *;
#Services {
  position: relative;
  scroll-margin-top: 40px;
  & .container {
    position: relative;
    align-items: center;
    z-index: 2;
  }
  .section__body {
    position: relative;
    align-items: center;
    gap: 1.5rem;
    z-index: 2;
  }
  .services__description{
    text-align:center;
  }
  .services__description{
    grid-column: span 3;
  }
  .services__card {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background: $white-color;
    border: 1px solid rgba($secondary-light, .4);
    border-radius: .75rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 0 30px -3px rgba($primary-color, .4);
    transition: .3s all ease;
    &:hover {
      border-color: rgba($primary-color, .35);
      box-shadow: 0 0 45px -3px rgba($primary-color, .75);
      .services__card--title {
        color: $primary-color;
      }
    }
    &--img {
      margin:0 auto;
      padding: 1rem;
      margin-bottom: 1rem;
      transition: inherit;
      width:200px;
    }
    &--title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: $primary-dark;
      transition: inherit;
    }
    &--description {
      color: $secondary-dark;
    }
  }
  @media screen and (max-width: 992px) {
    .services__description{
      grid-column:span 1;
    }
    .services__card{
    flex-direction:row;
    align-items: center;
    &--img{
      margin-bottom:0;
    }
  }
  }
}
