@use '../abstracts/variables' as *;

.dark-mode{
    a{
        color: $white-color;
        &:hover, &:active, &:focus{
            color: $primary-color;
        }
        &.btn-primary{
            color:white;
        }
    }
    .section{
        &__title{
            & span{
                color:$primary-light;
            }
        }
    }
    body {
        background-color: #091a28;
        color: #ebf4f1;
        #Navbar.active {
            .nav {
                background: rgba(#0a1e2e, .5);
            }
        }
        .nav {
            &__collapse{
                @media screen and (max-width: 991px) {
                    background: rgba(#091a28, .95);
                }
            }
            &__menu{
                &--right{
                    button{
                        span{
                            img{
                                filter: drop-shadow(0 0 8px $primary-light);
                            }
                        }
                    }
                }
            }
        }
        #About{
            .about__card{
                background:rgba($black-color, .3);
                border-color: rgba(#091a28, .4);
                box-shadow: 0 0 30px -3px rgba($primary-dark, .4);
                &--img{
                    img{
                        filter: drop-shadow(0 0 3px $primary-light);
                    }
                }
                &:hover {
                    border-color: rgba($primary-color, .35);
                    box-shadow: 0 0 45px -3px rgba($primary-light, .75);
                    .about__card--title {
                        color: $primary-color;
                    }
                }   
            }
        }
        #Pricing{
            .pricing__card{
                background:rgba($black-color, .3);
                border-color: rgba(#091a28, .4);
                box-shadow: 0 0 30px -3px rgba($primary-dark, .4);
                &:hover {
                    border-color: rgba($primary-color, .35);
                    box-shadow: 0 0 45px -3px rgba($primary-light, .75);
                    .services__card--title {
                        color: $primary-color;
                    }
                }   
            }
        }
        #Contact{
            form{
                .contact__form{
                    &--group{
                        input,
                        textarea{
                            color:white;
                            background-color:rgba($black-color, .3);
                            border-color:$primary-light;
                            &:focus{
                                box-shadow: 0 0 45px -3px rgba($primary-light, .4);
                            }
                        }
                    }
                }
            }
        }
        .numbers__card{
            &--image{
                filter: drop-shadow(0 0px 2px $primary-light);
            }
        }
        .faq__content{
            &--question{
                .accordion-icon{
                    fill: $white-color;
                }
            }
        }
        .footer{
            background: rgba($black-color, 0.3);
            background: linear-gradient(180deg,rgba(#091a28, 1),rgba($primary-dark, .5) 60%, rgba($primary-color, .7) 100%);
        }
    }
}
