@use '../abstracts/variables' as *;

.dark-mode{
    a{
        color: $white-color;
    }
    body {
        background-color: #091a28;
        color: #ebf4f1;
        #Navbar.active {
            .nav {
            background: rgba($black-color, .1);
            }
        }
        #Services{
            .services__card{
                background:rgba($black-color, .3);
                border-color: rgba(#091a28, .4);
                box-shadow: 0 0 30px -3px rgba($primary-dark, .4);
                &:hover {
                    border-color: rgba($primary-color, .35);
                    box-shadow: 0 0 45px -3px rgba($primary-light, .75);
                    .services__card--title {
                        color: $primary-color;
                    }
                }   
            }
        }
        #Contact{
            form{
                .contact__form{
                    &--group{
                        input,
                        textarea{
                            color:white;
                            background-color:rgba($black-color, .3)
                        }
                    }
                }
            }
        }
        .faq__content{
            &--question{
                .accordion-icon{
                    fill: $white-color;
                }
            }
        }
        .footer{
            background: rgba($black-color, 0.3);
            background: linear-gradient(180deg,rgba(#091a28, .3),rgba($primary-color, .5) 50%, rgba($primary-dark, .7) 100%);
        }
    }
}
