@use '../abstracts/variables' as *;

.dark-mode{
    a{
        color: $white-color;
    }
    body {
        background-color: #091a28;
        color: #ebf4f1;
        #Navbar.active {
            .nav {
            background: rgba($black-color, .1);
            }
        }
        #Services{
            .services__card{
                background:rgba($black-color, .3);
            }
    }
    }
}
